<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav class="nav">
  <img class="nav__logo" src="../assets/images/logo.svg" alt="image-logo">
  <img (click)="mostrarMenu = !mostrarMenu" [ngClass]="mostrarMenu ? 'nav__ham': 'nav__ham--close'" src="../assets/images/icon-hamburger.svg" alt="icon-ham">
  <img (click)="mostrarMenu = !mostrarMenu" [ngClass]="mostrarMenu ? 'nav__ham--close' : 'nav__ham'" src="../assets/images/icon-close.svg" alt="icon-close">
  <ul class="nav__ul">
    <li class="nav__li">Home</li>
    <li class="nav__li">About</li>
    <li class="nav__li">Contact</li>
    <li class="nav__li">Blog</li>
    <li class="nav__li">Careers</li>
  </ul>
  <button class="info__btn info__btn--nav">Request Invite</button>
</nav>
<nav class="menuMobile" [ngClass]="mostrarMenu ? 'menuMobile' : 'menuMobile--activo'">
  <ul class="menuMobile__ul">
    <li class="menuMobile__li">Home</li>
    <li class="menuMobile__li">About</li>
    <li class="menuMobile__li">Contact</li>
    <li class="menuMobile__li">Blog</li>
    <li class="menuMobile__li">Careers</li>
  </ul>
</nav>
<div class="menuMobile__capa" [ngClass]="mostrarMenu ? 'menuMobile__capa' : 'menuMobile__capa--activo' "></div>
<header class="header">
  <picture class="header__pattern">
    <img class="header__pattern--mobile" src="../assets/images/bg-intro-mobile.svg" alt="image intro mobile">
    <img class="header__pattern--desktop" src="../assets/images/bg-intro-desktop.svg" alt="image intro desktop">
  </picture>
  <picture class="header__phones">
    <img class="header__phones--size" src="../assets/images/image-mockups.png" alt="header mockups">
  </picture>
  <div class="header__info info">
    <h1 class="info__titulo info__titulo--header">Next generation <span class="d-block">digital baking</span></h1>
    <p class="info__p info__p--header">
      Take your financial life online. Your Easybank account will be a one-stop-shop 
      for spending, saving, budgeting, investing, and much more.
    </p>
    <button class="info__btn info__btn--left">Request Invite</button>
  </div>
</header>

<main class="mt-5 contenedor">
  <div class="info">
    <h2 class="info__titulo info__titulo--h2">Why choose <span class="d-block d-inline">EasyBank?</span></h2>
    <p class="info__p">
      We leverage Open Banking to turn your bank account into your financial hub.
      <span class="d-block"> Control your finances like never before.</span>
    </p>
  </div>
  <!-- Section options adventajes of easy bank -->
  <section class="grid-4">
    <div *ngFor="let option of datosBank" class="info mt-3">
      <img class="info__img" src={{option.imagen}} alt={{option.titulo}}>
      <h3 class="info__titulo info__titulo--h3">{{option.titulo}}</h3>
      <p class="info__p">{{option.texto}}</p>
    </div>
  </section>

  <div class="info mt-5">
    <h2 class="info__titulo info__titulo--h2">Latest Articles</h2>
  </div>

   <!-- Section cards latest articles -->
  <section class="grid-4" >
    <div *ngFor="let option of datosCards" class="info card">
      <img class="card__image" src={{option.imagen}} alt={{option.titulo}}>
      <p class="info__p info__p--cardby">{{option.by}}</p>
      <h4 class="info__titulo info__titulo--card">{{option.titulo}}</h4>
      <p class="info__p info__p--card">{{option.texto}}</p>
    </div>
  </section>
</main>

<footer class="footer mt-5">
  <img class="footer__logo" src="../assets/images/logo.svg" alt="image logo footer">
  <div class="footer__media">
    <img *ngFor="let icono of iconosMedia" src={{icono.imagen}} alt={{icono.id}}>
  </div>
  <ul class="footer__ul">
    <li class="footer__li">about us</li>
    <li class="footer__li">contact</li>
    <li class="footer__li">blog</li>
  </ul>
  <ul class="footer__ul footer__ul--2">
    <li class="footer__li">Careers</li>
    <li class="footer__li">support</li>
    <li class="footer__li">privacy policy</li>
  </ul>
  <div class="footer__btn info">
    <button class="info__btn">Request Invite</button>
  </div>
  <p class="footer__derechos">© Easybank. All Rights Reserved</p>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
