<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav class="nav">
  <img class="nav__logo" src="../assets/images/logo.svg" alt="image-logo">
  <img class="nav__ham" src="../assets/images/icon-hamburger.svg" alt="icon-ham">
</nav>
<header class="header">
  <picture class="header__pattern">
    <img src="../assets/images/bg-intro-mobile.svg" alt="image intro">
  </picture>
  <picture class="header__phones">
    <img src="../assets/images/image-mockups.png" alt="header mockups">
  </picture>
</header>
<div class="info">
  <h1 class="info__titulo">Next generation digital baking </h1>
  <p class="info__p">
    Take your financial life online. Your Easybank account will be a one-stop-shop 
    for spending, saving, budgeting, investing, and much more.
  </p>
  <button class="info__btn">Request Invite</button>
</div>
<main>

</main>
<footer>

</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
