/* You can add global styles to this file, and also import other style files */
:root{
    --fuenteParrafos: 'Public Sans', sans-serif;
    /* ### Primary */
    --DarkBlue: hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --BrightCyan: hsl(192, 70%, 51%);
    /* ### Neutral */
    --GrayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}
body{
    font-size: 18px;
    background-color: var(--VeryLightGray);
    font-family: var(--fuenteParrafos);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
img{
    max-width: 100%;
    display: block;
}

.contenedor{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px){ 
    .contenedor{
        max-width: 90rem;
        margin-left: auto;
        margin-right: auto;
    }
}
.d-block{
    display: block;
}
.mt-3{
    margin-top: 3rem;
}
.mt-5{
    margin-top: 5rem;
}

/*Estilos nav*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: var(--White);
    min-width: calc(100% - 40px);
}
.nav__ham{
    display: block;
}
.nav__ham--close{
    display: none;
}
.menuMobile{
    position: fixed;
    width: 300px;
    background-color: var(--White);
    top: 75px;
    left: calc(50% - 170px);
    border-radius: 5px;
    z-index: 4;
    padding: 20px;
    visibility: hidden;
}
.menuMobile--activo{
    visibility: visible;
}
.menuMobile__ul{
    padding: 0;
}
.menuMobile__li{
    list-style: none;
    text-align: center;
    margin: 20px 0;
    color: var(--DarkBlue);
}
.menuMobile__capa{
    position: absolute;
    inset: 0;
    background-image: linear-gradient(var(--DarkBlue), var(--LightGrayishBlue) );
    z-index: 3;
    visibility: hidden;
}
.menuMobile__capa--activo{
    visibility: visible;
    opacity: 0.8;
}
.header{
    position: relative;
    z-index: 1;
    height: 400px;
    overflow: hidden;
}
.header__pattern{
    position: absolute;
    z-index: 2;
    max-width: 100%;
    height: inherit;
    top: 22px;
}
.header__phones{
    position: absolute;
    width: 100%;
    position: absolute;
    height: inherit;
    z-index: 3;
    top: -73px;
}
.info{
    text-align: center;
    padding: 0 1rem;
}
.info__titulo{
    color: var(--DarkBlue);
    font-weight: 400;
}
.info__titulo--h2{
    font-size: 30px;
}
.info__titulo--h3{
    font-size: 22px;
}
.info__titulo--card{
    font-size: 18px;
    text-align: left;
    padding-left: 1rem;
    margin: 5px 0;
}
.info__p{
    color: var(--GrayishBlue);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.info__p--cardby{
    font-size: 12px;
    text-align: left;
    padding-left: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
}
.info__p--card{
    text-align: left;
    padding-left: 1rem;
}
.info__img{
    margin: 0 auto;
}
.info__btn{
    border: none;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 25px;
    min-width: 180px;
    color: var(--White);
    font-weight: 700;
    font-family: var(--fuenteParrafos);
    background: linear-gradient(90deg, var(--LimeGreen), var(--BrightCyan));
}
.scroll{
    overflow: visible;
}
.notScroll{
    overflow: hidden;
}
.card{
    margin-top: 3rem;
    background-color: var(--White);
}
.card__image{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
    height: 30vh;
    width: 100%;
}
.footer{
    background-color: var(--DarkBlue);
    padding: 2rem 0;
}
.footer__logo{
    margin: 1rem auto 1rem auto;
    filter: invert(100%);
}
.footer__media{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
@media (min-width: 768px){ 
    .footer{

    }
}
.footer__ul{
    padding: 0;
}
.footer__li{
    list-style: none;
    text-align: center;
    text-transform: capitalize;
    margin: 1rem 0;
    color: var(--VeryLightGray);
}
.footer__derechos{
    color: var(--GrayishBlue);
    text-align: center;
}